
.cart-container{
  text-align: center;
}
.summary{
    color: orangered;
}
.total-items{
    color:purple;
}
.grand-total{
    color: red;
}
.buttons{
    background-color: orange;
    width: 150px;
    height: 30px;
    border: 1px solid orange;
    border-radius: 7px;
    cursor: pointer;
}
.buttons:hover{
    color: white;
    background-image: linear-gradient(to left ,orangered, tomato);
}